h2{
    text-align: center;background-color: lawngreen;border-radius: 10%;
}button{
    margin-left: 13%;
}
.mat-form-field {
    width:65%;
    margin-left: 15%;
    opacity: 0.75;
    margin-top: 15px;

  }