.mat-stepper-horizontal {
    margin-top: 8px;
    height: 100%;
    width: 60%;
    margin-left: 10%;
  }
  
  .mat-form-field {
    width:60%;
    margin-left: -2pt;
    opacity: 0.75;
    margin-top: 35px;
    font-size: 150%;

  }
  button{
    margin-top: 15%;
    margin-left: 22%;
  }