<hr>
<div fxLayout="row wrap" >
  <mat-card class="example-card" style="height: 170%; width: 30%;">
    <mat-card-header>
      <a mat-list-item routerLinkActive="active" routerLink="/faq" style="text-decoration: none;">
        <mat-card-title >Catastrophe Naturel</mat-card-title>
           </a>
    </mat-card-header>
  <img mat-card-image src="assets/images/naturelle.jpg" alt="naturelle" style="height: 20em; width: 110.5%;">
  </mat-card>

<!--        µµµµµµµµµµ ******************************* µµµµµµµµµµµµµµµµ -->
  <mat-card class="example-card" style="margin-left: 1%; width: 30%;">
    <mat-card-header>
     <a mat-list-item routerLinkActive="active" routerLink="./naturelle/newnaturelle"  style="text-decoration: none;">
      <mat-card-title >Catastrophe Sanitaire</mat-card-title> </a>
    </mat-card-header>
    <img mat-card-image src="assets/images/images.jpg" alt="sanitaire" style="height: 90%; width: 110.5%;" >
  </mat-card>
  
  <!-- µµµµµµµµµµµµµµµµµ  *******************************  µµµµµµµµµµµµµµµµµµµµ -->
  <mat-card class="example-card" style="height: 70%; margin-left: 1%  ; width: 30%">
    <mat-card-header>
    <a mat-list-item routerLinkActive="active" routerLink="./naturel/newnaturelle" style="text-decoration: none;">
      <mat-card-title style="text-align: center;">Catastrophe Sécuritaire</mat-card-title>
     </a>
    </mat-card-header>
    <img mat-card-image src="assets/images/securitaire.jpg" alt="securitaire" style="height: 20em; width: 108.5%;">
  
  </mat-card>
</div>

