.mat-stepper-horizontal {
    margin-top: 8px;
    height: 60%;
    width: 35%;
    margin-left: 33%;
  }
  
  .mat-form-field {
    width:60%;
    margin-left: -2pt;
    opacity: 0.75;
    margin-top: 35px;
    font-size: 150%;

  }
  h2{
    background-color:greenyellow; font-size: 15pt;height: 70%;text-align: center;
    border-radius: 55pt; 
  }

  
  button{
    margin-top: 15%;
    margin-left: 20%;
  }

  