<div class="animated fadeIn" class="animated fadeIn" style="width: 30%;text-align: center; margin-left: 30%;">
    <div class="card">
        <div class="card-header">
            <h1>Crise Naturelle</h1>
          </div>
        <div class="card-body">
            <form [formGroup]="threeFormGroup">
              <p *ngIf="message!=null" style="color: red;font-size: 12pt;">{{message}}</p>
              <mat-form-field >
                <mat-label style="font-size: 12pt;">Ampleur *:</mat-label>
                <select matNativeControl formControlName="ampleur" >
                      <option></option>
                      <option value="Départementale">Départementale</option>
                      <option value="Nationale">Nationale </option>
                    </select>
            </mat-form-field>
              <div >
                <button mat-button style="margin-left: -3%;" [routerLink]="['/freq']"  class="btn-danger">retour</button>
          
                <button  mat-button (click)="newcontrole()" 
                class="btn btn-info" >suivant</button>
           
              </div>
            </form>
           
      </div>
             
            </div>
   </div>
